@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    position: relative;
    background: white;
    overflow-y: hidden;
    user-select: none;
    cursor: pointer;
}

p {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #FFBD57;
    color: white;
}
h1{
    color: #355C7D;
}
.header {
    padding: 0%;
}
h2{
    color: #355C7D;
}
h5 {
    color: #805209;
    font-family: "Roboto", serif;
}

.barra {
    width: 100%;
    height: 2vh;
    background-color: #355C7D;
}
.btn-entregas {
    background-color:	#355C7D;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para hover */
  }
.barras {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    overflow-y: auto;
    padding: 2vh;
    margin: 2vh auto;
    width: 90%;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer e Edge antigo */
    background: linear-gradient(135deg, #FFD288 20%, #FFBD57 100%);
    /* Gradiente suave */
    border-radius: 15px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transição suave para hover */
}

.barras:hover {
    transform: scale(1.02);
    /* Efeito de zoom suave ao passar o mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* Aumenta a sombra ao passar o mouse */
}

.pendentes {
    width: 100%;
    height: auto;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    margin-bottom: 2vh;
    /* Espaçamento entre os itens */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1vh;
    font-size: 1.2rem;
    color: #805209;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave ao redor dos itens */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pendentes:hover {
    transform: scale(1.02);
    /* Efeito de zoom suave no item */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Aumenta a sombra ao passar o mouse */
}

.botao {
    width: 8vw;
    height: 4vh;
    background-color: white;
    color: #4BAD00;
    border: 2px solid #4BAD00;
    border-radius: 2vh;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.botao:hover {
    background-color: #3d9d00;
    /* Alterar a cor do botão ao passar o mouse */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1160px) {
    p {
        margin: 0;
        font-size: 25px;
    }

    .botao {
        width: 8vh;
        height: 3vh;
        background-color: #FFA411;
        border-radius: 10px;
    }

    .barra {
        width: 100%;
        height: 2vh;
    }
}

@media (max-width: 967px) {
    p {
        margin: 0;
        font-size: 22px;
    }

    .botao {
        width: 8vh;
        height: 3vh;
        background-color: #FFA411;
        border-radius: 10px;
    }

    .barra {
        width: 100%;
        height: 2vh;
    }
}

@media (max-width: 870px) {
    p {
        margin: 0;
        font-size: 20px;
    }

    .botao {
        width: 8vh;
        height: 3vh;
        background-color: #FFA411;
        border-radius: 10px;
    }

    .barra {
        width: 100%;
        height: 2vh;
    }

    h5 {
        color: #805209;
        font-family: "Roboto", serif;
        font-size: 15px;
    }

    img {
        height: 90px;

    }

    h1 {
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    p {
        margin: 0;
        font-size: 16px;
    }

}

@media (max-width: 630px) {
    p {
        margin: 0;
        font-size: 16px;
    }

    .botao {
        width: 6vh;
        height: 3vh;
        background-color: #FFA411;
        border-radius: 10px;
    }

    .barra {
        width: 100%;
        height: 2vh;
    }

    img {
        height: 80px;
    }

    h5 {
        color: #805209;
        font-family: "Roboto", serif;
        font-size: 13px;
    }

    h1 {
        font-size: 28px;
    }
}


@media (max-width: 540px) {
    p {
        margin: 0;
        font-size: 14px;
    }

    .botao {
        width: 5vh;
        height: 2.5vh;
        background-color: #FFA411;
        border-radius: 5px;
    }

    .barra {
        width: 100%;
        height: 1.5vh;
    }

    img {
        height: 70px;
    }

    h5 {
        color: #805209;
        font-family: "Roboto", serif;
        font-size: 10px;
    }

    h1 {
        font-size: 25px;

    }
}

@media (max-width: 430px) {
    p {
        margin: 0;
        font-size: 14px;
    }

    .botao {
        width: 5vh;
        height: 2.5vh;
        background-color: #FFA411;
        border-radius: 5px;
    }

    .barra {
        width: 100%;
        height: 1.5vh;
    }

    img {
        height: 80px;
    }

    h5 {
        color: #805209;
        font-family: "Roboto", serif;
        font-size: 0px;
    }

    h1 {
        font-size: 25px;
        margin-left: 60px;

    }
}

@media (max-width: 381px) {
    p {
        margin: 0;
        font-size: 12px;
    }

    .botao {
        width: 5vh;
        height: 2.5vh;
        background-color: #FFA411;
        border-radius: 5px;
    }

    .barra {
        width: 100%;
        height: 1.5vh;
    }

    img {
        height: 70px;
    }

    h5 {
        color: #805209;
        font-family: "Roboto", serif;
        font-size: 0px;
    }

    h1 {
        font-size: 22px;
        margin-left: 50px;
    }
}

@media (max-width: 321px) {
    p {
        margin: 0;
        font-size: 12px;
    }

    .botao {
        width: 5vh;
        height: 2.5vh;
        background-color: #FFA411;
        border-radius: 5px;
    }

    .barra {
        width: 100%;
        height: 1.5vh;
    }

    img {
        height: 60px;
    }

    h5 {
        color: #805209;
        font-family: "Roboto", serif;
        font-size: 0px;
    }

    h1 {
        font-size: 18px;
        margin-left: 60px;
    }
}